<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>TPB | Expander</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="By Monteverde and SG Web">

		<link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/icons.css">
	</head>
	<body>
        <input type="checkbox" id="nav-check" />
        <main>
            <aside>
            	<div class="action"><label for="nav-check">☰</label></div>
                <header>
                    <h1><a href="/login" title="The Pirate Bay"><img src="img/logo.jpg" alt="The Pirate Bay" /></a></h1>
                    
                    <form action="">
                        <fieldset>
                            <div>
                                <input type="search" value="" placeholder="Search here..." />
                                <input type="submit" value="Search" />
                            </div>
                            
                            <div>
                                <a href="#" id="btnAdSearch" title="Advanced search">Advanced search</a>
                                <div id="boxAdSearch">
                                    <label title="All"><input type="checkbox" class="custom" checked>All</label>
                                    <label title="Audio"><input name="audio" type="checkbox"  class="custom">Audio</label>
                                    <label title="Video"><input name="video" type="checkbox"  class="custom">Video</label>
                                    <label title="Applications"><input name="apps" type="checkbox"  class="custom">Applications</label>
                                    <label title="Games"><input name="games" type="checkbox"  class="custom">Games</label>
                                    <label title="Porn"><input name="porn" type="checkbox"  class="custom">Porn</label>
                                    <label title="Other"><input name="other" type="checkbox"  class="custom">Other</label>
                        
                                    <select name="category" class="custom">
                                        <option value="0">All</option>
                                        <optgroup label="Audio">
                                            <option value="101">Music</option>
                                            <option value="102">Audio books</option>
                                            <option value="103">Sound clips</option>
                                            <option value="104">FLAC</option>
                                            <option value="199">Other</option>
                                        </optgroup>
                                        <optgroup label="Video">
                                            <option value="201">Movies</option>
                                            <option value="202">Movies DVDR</option>
                                            <option value="203">Music videos</option>
                                            <option value="204">Movie clips</option>
                                            <option value="205">TV shows</option>
                                            <option value="206">Handheld</option>
                                            <option value="207">HD - Movies</option>
                                            <option value="208">HD - TV shows</option>
                                            <option value="209">3D</option>
                                            <option value="299">Other</option>
                                        </optgroup>
                                        <optgroup label="Applications">
                                            <option value="301">Windows</option>
                                            <option value="302">Mac</option>
                                            <option value="303">UNIX</option>
                                            <option value="304">Handheld</option>
                                            <option value="305">IOS (iPad/iPhone)</option>
                                            <option value="306">Android</option>
                                            <option value="399">Other OS</option>
                                        </optgroup>
                                        <optgroup label="Games">
                                            <option value="401">PC</option>
                                            <option value="402">Mac</option>
                                            <option value="403">PSx</option>
                                            <option value="404">XBOX360</option>
                                            <option value="405">Wii</option>
                                            <option value="406">Handheld</option>
                                            <option value="407">IOS (iPad/iPhone)</option>
                                            <option value="408">Android</option>
                                            <option value="499">Other</option>
                                        </optgroup>
                                        <optgroup label="Other">
                                            <option value="601">E-books</option>
                                            <option value="602">Comics</option>
                                            <option value="603">Pictures</option>
                                            <option value="604">Covers</option>
                                            <option value="605">Physibles</option>
                                            <option value="699">Other</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </header>
                
                <section class="accordion">
                    <div>
                        <input id="ac-1" name="menu" type="radio" />
                        <label for="ac-1">Menu</label>
                        <div>Menu here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dolorem in hic molestiae autem qui ex asperiores. Autem, in, soluta dolorem officiis porro ullam velit ducimus est unde esse dolorum.</div>
                    </div>
                    <div>
                        <input id="ac-2" name="menu" type="radio" />
                        <label for="ac-2">About</label>
                        <div>About Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, corporis, odio, excepturi tempora unde officiis libero nihil vitae earum natus inventore illum voluptas non possimus id enim animi magni numquam!</div>
                    </div>
                </section>
            </aside>

            <article>
                <table>
                	<thead>
                        <tr>
                            <th colspan="100%">Top 100</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th><a href="#">Type</a></th>
                            <th>&nbsp;</td>
                            <th>&nbsp;</td>
                            <th><a href="#">Name</a></th>
                            <th><a href="#">Uploaded</a></th>
                            <th>&nbsp;</td>
                            <!--th><a href="#">Ratings</a></th-->
                            <th><a href="#">Size</a></th>
                            <th><a href="#">Se</a></th>
                            <th><a href="#">Le</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="i"><a href="#" class="i-th-list" title="Group"></a></td>
                            <td><a href="#">TV shows</a></td>
                            <td class="i"><a href="#" class="i-magnet" title="Magnet"></a></td>
                            <td class="i"><a href="#" class="i-plus"></a></td>
                            <td class="t"><a href="#">Anger.Management.S02E21.720p.HDTV.X264-DIMENSION [PublicHD]</a></td>
                            <td><b>33&nbsp;mins&nbsp;ago</b></td>
                            <td>
                                <a href="#" class="i-picture"></a>
                                <a href="#" class="i-download" title="Download"></a>
                                <a href="#" class="i-ticket" title="VIP"></a>
                                <span class="i-comments" title="Comments"></span>
                            </td>
                            <!--td><span class="rat">9.9</span></td-->
                            <td>894.34&nbsp;MiB</td>
                            <td>4</td>
                            <td>59</td>
                        </tr>
                        <tr>
                            <td class="i"><a href="#" class="i-th-list" title="Group"></a></td>
                            <td><a href="#">TV shows</a></td>
                            <td class="i"><a href="#" class="i-magnet" title="Magnet"></a></td>
                            <td class="i"><a href="#" class="i-plus"></a></td>
                            <td class="t"><a href="#">Anger.Management.S02E21.720p.HDTV.X264-DIMENSION [PublicHD]</a></td>
                            <td><b>33&nbsp;mins&nbsp;ago</b></td>
                            <td>
                                <a href="#" class="i-picture"></a>
                                <a href="#" class="i-download" title="Download"></a>
                                <a href="#" class="i-ticket" title="VIP"></a>
                                <span class="i-comments" title="Comments"></span>
                            </td>
                            <!--td><span class="rat">9.9</span></td-->
                            <td>894.34&nbsp;MiB</td>
                            <td>4</td>
                            <td>59</td>
                        </tr>
                	</tbody>
                    <tfoot>
                    	<tr>
                            <tr class="pagination">
                                <td colspan="100%">
                                    <a href="#" title="" class="i-angle-left"></a>
                                    <a href="#" title="">1</a>
                                    <a href="#" title="">2</a>
                                    <a href="#" title="">3</a>
                                    <a href="#" title="">4</a>
                                    <a href="#" title="">5</a>
                                    <a href="#" title="">6</a>
                                    <a href="#" title="">7</a>
                                    <a href="#" title="">8</a>
                                    <a href="#" title="">9</a>
                                    <a href="#" title="" class="i-angle-right"></a>
                                </td>
                            </tr>
                        	<td colspan="100%"><p><strong>6.270.744</strong> registered users. Last updated 03:10:05. <strong>27.256.022</strong> peers (<strong>20.341.327</strong> seeders + <strong>6.914.695</strong> leechers) in <strong>4.506.718</strong> torrents.</p></td>
                        </tr>
                    </tfoot>
                </table>
            </article>
        </main>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>