<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>The Pirate Bay | Expander</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="By Monteverde and SG Web">

		<link rel="stylesheet" href="css/global.css">
	</head>
	<body>
        <input type="checkbox" id="nav-check" />
        <div class="table">
            <aside class="cell">
                <label for="nav-check">☰</label>

                <header>Header</header>
                <footer>Footer</footer>
            </aside>

            <article class="cell">
                Content
            </article>
        </div>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>   
		<script src="js/wml.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>