<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>TPB | Expander</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="By Monteverde and SG Web">

		<link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/icons.css">
	</head>
	<body>
        <input type="checkbox" id="nav-check" />
        <main>
            <aside>
            	<div class="action"><label class="btn-hs" for="nav-check">☰</label></div>
                <!-- menu -->
            </aside>

            <article>
                <table>
                	<thead>
                        <tr>
                            <th>Group</th>
                            <th><a href="#" title="Type">Type</a></th>
                            <th>&nbsp;</td>
                            <th>&nbsp;</td>
                            <th><a href="#" title="Name">Name</a></th>
                            <th><a href="#" title="Uploaded">Uploaded</a></th>
                            <th>&nbsp;</td>
                            <!--th><a href="#" title="">Ratings</a></th-->
                            <th><a href="#" title="Size">Size</a></th>
                            <th><a href="#" title="Se">Se</a></th>
                            <th><a href="#" title="Le">Le</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="title">
                            <td class="i"><a href="#" class="i-th-list" title="Group"></a></td>
                            <td><a href="#">TV shows</a></td>
                            <td class="i"><a href="#" class="i-magnet" title="Magnet"></a></td>
                            <td class="i"><a href="#" class="i-minus"></a></td>
                            <td class="t"><a href="#">Anger.Management.S02E21.720p.HDTV.X264-DIMENSION [PublicHD]</a></td>
                            <td><b>33&nbsp;mins&nbsp;ago</b></td>
                            <td>
                                <a href="#" class="i-picture"><span><img src="upload/cover.jpg" alt="" /></span></a>
                                <a href="#" class="i-download" title="Download"></a>
                                <a href="#" class="i-ticket" title="VIP"></a>
                                <span class="i-comments" title="Comments"></span>
                                <a href="#" class="i-ok" title="Trusted">
                            </td>
                            <!--td><span class="rat">9.9</span></td-->
                            <td>894.34&nbsp;MiB</td>
                            <td>4</td>
                            <td>59</td>
                        </tr>
                        <tr class="inner">
                            <td colspan="100%">
                                <section class="cover">
                                    <figure>
                                        <!--img src="upload/cover.jpg" alt="" /-->
                                    </figure>
                                </section>
                                <section class="info">
                                    <h3>Hash: 2E84037F3C27C54228277810D048EAFF52257093</h3>
                                    <p>
                                        Files: 23<br />
                                        Size: 33.03 GiB (35460877898 Bytes)
                                        <br /><br />
                                        Info: <a href="#">IMDB</a><br />
                                        Spoken language(s): English<br />
                                        Texted language(s): English<br />
                                        Tag(s): <a href="#">Revolution Season 1 Complete</a>, <a href="#">1080p</a>, <a href="#">WEB-DL.DD5.1</a>, <a href="#">CARG</a>, <a href="#">Tracy Spiridakos</a>, <a href="#">Daniella Alonso</a>, <a href="#">Elizabeth Mitchell</a>
                                        <br /><br />
                                        Uploaded: 2013-06-05 02:51:33 GMT<br />
                                        By: <a href="#">Hard2Find2</a><span class="i-ticket" title="VIP"></span><span class="i-ok" title="Trusted"></span>
                                        <br /><br />
                                        
                                        Comments: 0
                                        
                                    </p>
                                    
                                    <pre>
                                        CARG proudly presents Revolution Season 1 Complete in 1080p True High Definition with Dolby Digital 5.1 Surround Sound
                                                                    
                                        Select Files for contents and episode listings.
                                                                    
                                        **ALL CREDIT TO ORIGINAL ENCODERS IdolHD &amp; KINGS**. This is just a compiled collection of this T.V. Show.
                                                                    
                                        Please be sure to check out other CARG releases and seed at full speed during and after download so that others can also enjoy.
                                                                    
                                        Info:
                                        ----------
                                        Revolution is an American post-apocalyptic science fiction television drama series. It was created by Eric Kripke and produced by J. J. Abrams' Bad Robot Productions for the NBC network. It debuted on September 17, 2012.
                                                                    
                                                                    
                                        Plot:
                                        ----------
                                        The series takes place in a post-apocalyptic dystopian future. All electricity on Earth has been disabled within a single night, ranging from computers and electronics to car and jet engines. Trains and cars stopped where they were, ships went dead in the water and fly-by-wire aircraft fell from the sky and crashed.
                                                                    
                                        People were forced to adapt to a world without electricity over the next fifteen years. Due to the collapse of government and public order, many areas are now ruled by warlords and militias.
                                                                    
                                                                    
                                                                    
                                        Cast: Billy Burke
                                              Tracy Spiridakos
                                              Giancarlo Esposito
                                              Zak Orth
                                              David Lyons
                                              Anna Lise Phillips
                                              Graham Rogers
                                              J.D. Pardo
                                              Tim Guinee
                                              Daniella Alonso
                                              Elizabeth Mitchell
                                                                    
                                        Specs:
                                        ----------
                                        File Types: Mkv or Matroska Multimedia Container
                                        Video Codec: H264 - MPEG-4 AVC (part10)(avc1)
                                        Language: English
                                        Subtitles: English
                                        Resolution: 1920x1080
                                        Frame Rate: 23.976215
                                        Audio Codec: A52 Audio  (aka AC3)(a52)
                                        Channels: 3F2R/LFE
                                        Sample Rate: 48000 Hz
                                        Bitrate: 384 kb/s
                                        Source: WEB-DL
                                        Tested with VLC on PC and WDTV Media Player on T.V.

                                        Actual Screenshots:
                                        ----------
                                        <a href="#">http://img694.imageshack.us/img694/7497/vlcsnap2013060401h22m24.png</a>
                                        <a href="#">http://img191.imageshack.us/img191/7803/vlcsnap2013060401h22m58.png</a>
                                        <a href="#">http://img402.imageshack.us/img402/5616/vlcsnap2013060401h23m14.png</a>
                                        <a href="#">http://img843.imageshack.us/img843/10/vlcsnap2013060401h26m37.png</a>
                                        <a href="#">http://img593.imageshack.us/img593/6155/vlcsnap2013060401h26m52.png</a>
                                        <a href="#">http://img402.imageshack.us/img402/188/vlcsnap2013060401h29m55.png</a>

                                        IMDb:
                                        <a href="#">http://www.imdb.com/title/tt2070791/</a>

                                        Official Website:
                                        <a href="#">http://www.nbc.com/revolution/</a>

                                        Wiki:
                                        <a href="#">http://en.wikipedia.org/wiki/Revolution_(TV_series)</a>

                                        Much admiration to release groups and encoders such as IMMERSE, EVOLVE, CtrlHD, DHD, YesTV, MVGroup and KiNGS.

                                        --------------------------------------------------------------------------------
                                        <figure>
                                            <img src="upload/scr1.png" alt="" />
                                            <img src="upload/scr2.png" alt="" />
                                            <img src="upload/scr3.png" alt="" />
                                            <img src="upload/scr4.png" alt="" />
                                            <img src="upload/scr5.png" alt="" />
                                            <img src="upload/scr6.png" alt="" />
                                        </figure>
                                    </pre>
                                </section>
                            </td>
                        </tr>


                	</tbody>
                    <tfoot>
                    	<tr>
                            <td colspan="100%"><p><strong>6.270.744</strong> registered users. Last updated 03:10:05. <strong>27.256.022</strong> peers (<strong>20.341.327</strong> seeders + <strong>6.914.695</strong> leechers) in <strong>4.506.718</strong> torrents.</p></td>
                        </tr>
                    </tfoot>
                </table>
            </article>
        </main>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>